{
  "description": "wg-{{ name }}",
  {% if peer.active |default(true) %}
    "up": true,
  {% endif %}
  "ip": {
    "address": {
{% set addr = peer.addr |default(ndm_wg_addr) %}
      "address": "{{ addr |ipaddr('address') or addr |ipaddr('network') }}",
      "mask": "{{ addr |ipaddr('netmask') }}"
    },
    {% if ndm_wg_mtu |default(0) %}
      "mtu": "{{ ndm_wg_mtu }}",
    {% endif %}
    "tcp": {"adjust-mss": {"pmtu": true}}
  },
  "wireguard": {
    {% if ndm_wg_port |default(0) %}
      "listen-port": {"port": "{{ ndm_wg_port |int }}"},
    {% endif %}
    "peer": [{
      "allow-ips": [
          {% for ip in peer.ips |default([],true) %}
            {
              "address": "{{ ip |ipaddr('address') or ip |ipaddr('network') }}",
              "mask": "{{ ip |ipaddr('netmask') }}"
            } {{ loop.last |ternary('',',') }}
          {% endfor %}
      ],
      "comment": "{{ name }}",
      {% if peer.host |default('') and peer.port |default(0) %}
        "endpoint": {"address": "{{ peer.host }}:{{ peer.port |int }}"},
      {% endif %}
      {% if ndm_wg_keepalive |default(0) %}
        "keepalive-interval": { "interval": {{ ndm_wg_keepalive |int }} },
      {% endif %}
      "key": "{{ peer.pub }}",
      {% if peer.psk |default('') %}
        "preshared-key": "{{ peer.psk }}"
      {% endif %}
    }]
  }
}
