{
  "description": "wg-{{ item.name }}",
  "up": {{ item.active |d(true) |bool |to_json }},
  "ip": {
    "address": {
      "address": "{{ item.addr |d(ndm_wg_addr) |ipaddr('address') or addr |ipaddr('network') }}",
      "mask": "{{ item.addr |d(ndm_wg_addr) |ipaddr('netmask') }}"
    },
{% if ndm_wg_mtu |d(0) %}
      "mtu": "{{ ndm_wg_mtu }}",
{% endif %}
    "tcp": {
      "adjust-mss": {
        "pmtu": true
      }
    }
  },
  "security-level": {
    "public": true
  },
  "wireguard": {
    "listen-port": {
{% set listen_port = item.listen |d(ndm_wg_port) |d(0) |int %}
{% if listen_port %}
        "port": "{{ listen_port }}"
{% else %}
        "no": true
{% endif %}
    },
    "private-key": "{{ priv_key }}",
    "peer": [
{% macro make_peer(peer, keepalive, last) %}
      {
        "allow-ips": [
{%   for ip in peer.ips |d([],true) %}
          {
            "address": "{{ ip |ipaddr('address') or ip |ipaddr('network') }}",
            "mask": "{{ ip |ipaddr('netmask') }}"
          }{{ loop.last |ternary('',',') }}
{%   endfor %}
        ],
{%   if peer.host |d('') and peer.port |d(0) %}
        "endpoint": {
          "address": "{{ peer.host }}:{{ peer.port |int }}"
        },
{%   endif %}
{%   if keepalive %}
        "keepalive-interval": {
          "interval": {{ keepalive }}
        },
{%   endif %}
{%   if peer.psk |d('') %}
        "preshared-key": "{{ peer.psk }}",
{%   endif %}
        "key": "{{ peer.pub }}",
        "comment": "{{ peer.name }}"
      }{{ last |ternary('',',') }}
{% endmacro %}
{% set slaves = item.slaves |d([],true) %}
{{ make_peer(item, ndm_wg_keepalive |d(0) |int, slaves |length == 0) }}
{% for peer in slaves %}
{{ make_peer(peer, 0, loop.last) }}
{% endfor %}
    ]
  }
}
